@model IEnumerable<PetShopPedido.Models.vw_productosPedido>

@{
    ViewBag.Title = "DetallesPedido";
}

<div class="container mt-5 mb-5">
    <h2>Detalles del Pedido</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Pedido
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th>
                    S/. @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    S/. @Html.DisplayNameFor(model => model.Total)
                </th>

            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    S/. @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    S/. @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-md-4 mx-auto offset-8">
            <button class="btn btn-danger" onclick="window.history.go(-1)">Regresar</button>            
        </div>
    </div>

</div>