@model PetShopPedido.Models.tblUser

@using (Html.BeginForm())
{
    <div class="container mt-5 mb-5">
       
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <h2>Nuevo Cliente</h2>
                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <span>Nombre:</span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Apellidos:</span>
                        @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Direccion:</span>
                        @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Telefono:</span>
                        @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Email:</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Password:</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Registrese" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
                <h3 style="color:red;">@TempData["msg"]</h3>

            </div>

        </div>

    </div>
}
