@model IEnumerable<PetShopPedido.Models.tblProveedor>

@{
    ViewBag.Title = "Index";
}

<script src="~/js/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#searchBox").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<div class="container mt-5 mb-5">
    <h2>Listado de Proveedores</h2>
    <div class="form-group">
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Buscar por.." id="searchBox" />
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idProv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nomProv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RUC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idProv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomProv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RUC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Proveedores", new { id = item.idProv})" class="btn btn-info">Editar</a>
                        <a href="@Url.Action("Delete", "Proveedores", new { id = item.idProv})" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>